*
{
    padding: 0;margin: 0;
    border: none;
}
html,body
{
    width: 100%;
    height: 50%;
}
body
{
  background: #050505;
  background-size: 400% 400%;
  animation: BackgroundGradient 15s ease infinite;
}
@keyframes BackgroundGradient {
  0% {background-position: 0% 50%;}
  50% {background-position: 100% 50%;}
  100% {background-position: 0% 50%;}
}
.loader
{
    display: flex;
    gap: 0.5%;
    align-items: center;
    justify-content: center;
    margin-top: 30%;
}
.bar
{
    width: 1%;
    height: 60px;

    border-radius: 5px;
    background: rgba(255, 255, 255, 0.24) ;
    animation: wave 1s ease-in-out infinite;
}
@keyframes wave {
  0%  , 100%{
    height: 10px;
  }
  50%{
    height: 50px;
  }
}
.bar:nth-child(2)
{
    animation-delay: .1s;
}
.bar:nth-child(3)
{
    animation-delay: .2s;
}
.bar:nth-child(4)
{
    animation-delay: .3s;
}
.bar:nth-child(5)
{
    animation-delay: .4s;
}
.bar:nth-child(6)
{
    animation-delay: .5s;
}
.bar:nth-child(7)
{
    animation-delay: .6s;
}
.bar:nth-child(8)
{
    animation-delay: .7s;
}
.bar:nth-child(9)
{
    animation-delay: .8s;
}
.bar:nth-child(10)
{
    animation-delay: .9s;
}